__pycache__/
*.py[cod]
*$py.class

dist/
sdist/
wheels/
*.egg-info

.tox/
.coverage
.coverage.*
coverage.xml
.cache
*.cover
coverage.out
.pytest_cache/

.ipynb_checkpoints

*~
*.swp
*.sublime-workspace
.ropeproject

.env
*.env

cache/
